group,device_name,ip_address,enabled,username,password,enable_password,ssh_key_file,ssh_profile,vendor,protocol,port,timeout,retry
group1,device-inheriting-group-defaults,192.168.18.200,true,,,,,,,,,,
group1,device-with-source-settings,192.168.18.201,true,admin,change-me,enable-change-me,,modern,cisco_ios,ssh,22,30,2
